In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(5 * 4).reshape(5, 4))

In [6]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [7]:
sampler = np.random.permutation(5)

In [8]:
sampler

array([3, 1, 2, 4, 0])

In [9]:
df.take(sampler)

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19
0   0   1   2   3